@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Source+Code+Pro:wght@300;400&display=swap" rel="stylesheet');

body {
  margin: 0;
  font-weight: lighter;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
}
