nav {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: darkgray;
}


/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    background-color: darkgray;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    font-weight: bold;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
    font-weight: bold;
}

button:active {
    transform: scale(0.99);
    font-weight: bold;
}
/* Button styles end */


.logo {
    color: Blue;
}