:root {
    --primary: #232F3E;
    --secondary: #F3A847;
    --tertiary: #B12704;
    --light: #fafafa;
    --dark: #272f32;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
  }
  
  h1,
  h2,
  h3
 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 5px 0;
    line-height: 1.25;
  }

  h1 
  {
    font-size: 2.25rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  p 
  {
    font-size: 1.1rem;
    margin-top: 0;
  }