

nav {
  display: flex;
  background-color: #333333;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #333333;
  flex: 1;
}

/* Buttons styles start */
.navbutton {
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    color: #A8A8A8;
    background-color: #333333;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    font-family:  'Source Code Pro', monospace;
    font-weight:lighter;
    letter-spacing: 2.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1;
}

.navbutton:hover,
.navbutton:focus {
  font-weight: bold;
}

.navbutton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
  font-weight: bold;
}

.navbutton:active {
  transform: scale(0.99);
  font-weight: bold;
}
/* Button styles end */

.logoutBtnDiv {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.logo {
  color: #179ff6;
}
